In [1]:
import pandas as pd

In [2]:
air_data=pd.read_csv('AirQuality_Daily_StudentVersion.csv')

air_data = pd.DataFrame(air_data)

# Task 1

In [44]:
air_data_sensorname = air_data.groupby('sensor.name')

air_data_voc = air_data_sensorname.agg(voc_mean =('voc', 'mean'),
                                      voc_median=('voc','median'))
                                      

#air_data_voc

In [57]:
top5_voc = (air_data_voc.sort_values(by = ['voc_mean','voc_median'], ascending = False))

top5_voc.head(5)

                                         voc_mean  voc_median
sensor.name
Swnphd-ogallala                        399.434240  423.082292
FCHD-YPS                               372.462720  375.383500
Three Rivers Public Health Department  370.216208  376.810167
ELVPHD Norfolk HD 4                    360.833744  368.580500
Swnphd-mccook                          353.941581  381.468479

In [46]:
air_data_pm25 = air_data_sensorname.agg(pm25_mean =('pm2.5_atm', 'mean'),
                                      pm25_median=('pm2.5_atm','median'))
#air_data_pm25

In [53]:
top5_pm25 = ( air_data_pm25.sort_values(by = ['pm25_mean','pm25_median'], ascending = False))

top5_pm25.head(5)

                                                     pm25_mean  pm25_median
sensor.name
Broken Bow                                          928.710593    36.050240
#16 - Richardson County Courthouse                  700.127342    11.977344
#18 - Southeast District Health Department- Tec...  613.175352    10.322875
NCDHD O'Neill #11                                   164.495078     7.251208
Swnphd-mccook                                       123.011622     4.582281

In [52]:
air_data_pm10 = air_data_sensorname.agg(pm10_mean =('pm10.0_atm', 'mean'),
                                      pm10_median=('pm10.0_atm','median'))
#air_data_pm10

In [58]:
top5_pm10 = ( air_data_pm10.sort_values(by = ['pm10_mean','pm10_median'], ascending = False))

top5_pm10.head(5)

                                                     pm10_mean  pm10_median
sensor.name
Broken Bow                                          929.678512    43.179094
#16 - Richardson County Courthouse                  701.632446    13.305615
#18 - Southeast District Health Department- Tec...  614.227248    11.433729
NCDHD O'Neill #11                                   166.132578     8.427437
Swnphd-mccook                                       124.227336     5.372073

# Task 2

In [82]:
air_data_maxvoc = air_data.loc[air_data['voc'].idxmax(), ['date','sensor.name','voc']]
air_data_maxvoc

date                  06/24/24
sensor.name    Swnphd-ogallala
voc                1209.931571
Name: 2391, dtype: object

In [90]:
air_data_maxpm25 = air_data.loc[air_data['pm2.5_atm'].idxmax(), ['date','sensor.name','pm2.5_atm']]
air_data_maxpm25

date                                     02/18/25
sensor.name    #16 - Richardson County Courthouse
pm2.5_atm                             3782.823313
Name: 7561, dtype: object

In [91]:
air_data_maxpm10 = air_data.loc[air_data['pm10.0_atm'].idxmax(), ['date','sensor.name','pm10.0_atm']]
air_data_maxpm10

date                                     02/18/25
sensor.name    #16 - Richardson County Courthouse
pm10.0_atm                            3784.682542
Name: 7561, dtype: object

# Task 3

In [93]:
def assign_temperature(temperature):
    if temperature < 32:
        return 'Blow Freezing'
    elif 32<= temperature <=50:
        return 'Cool'
    elif 51 <= temperature <= 70:
        return 'Warm'
    else:
        return 'Hot'
    
air_data['temperature_level'] = air_data['temperature'].apply(assign_temperature)

air_data.head(10)

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name,temperature_level
0,02/23/24,195089,14.377667,912.884333,62.266667,51.998667,0.051333,0.100000,0.000000,0.002500,0.039667,40.050922,-101.533570,3005,Swnphd-Benklemen,Warm
1,02/23/24,195365,12.223600,926.403000,71.193400,64.920800,0.000000,0.180000,0.004800,0.020000,0.176000,40.200330,-100.639885,2576,Swnphd-mccook,Hot
2,02/23/24,195541,20.095750,905.670750,61.008250,68.307000,0.020000,0.162500,0.004125,0.014812,0.063937,41.128284,-101.720220,3220,Swnphd-ogallala,Warm
3,02/24/24,195089,25.368000,911.708833,51.462458,91.176750,0.052667,0.437500,0.099542,0.170667,0.355208,40.050922,-101.533570,3005,Swnphd-Benklemen,Warm
4,02/24/24,195365,23.703083,925.282125,56.818208,107.863708,0.000000,0.475000,0.099208,0.231687,0.548583,40.200330,-100.639885,2576,Swnphd-mccook,Warm
5,02/24/24,195541,29.082083,903.069000,52.063833,96.558875,0.020000,0.441667,0.053417,0.118813,0.241583,41.128284,-101.720220,3220,Swnphd-ogallala,Warm
6,02/25/24,195089,20.633125,906.199667,54.271000,98.027208,0.053542,0.741667,0.186167,0.536167,1.272979,40.050922,-101.533570,3005,Swnphd-Benklemen,Warm
7,02/25/24,195365,17.341708,919.602625,61.311000,104.390083,0.000000,0.941667,0.543604,0.907917,1.609354,40.200330,-100.639885,2576,Swnphd-mccook,Warm
8,02/25/24,195541,23.904208,897.842417,55.670833,89.880250,0.020000,0.791667,0.283729,0.602854,0.985021,41.128284,-101.720220,3220,Swnphd-ogallala,Warm
9,02/26/24,195089,18.948792,901.163792,57.556792,83.773958,0.053292,0.850000,0.279896,0.744229,1.834646,40.050922,-101.533570,3005,Swnphd-Benklemen,Warm

In [94]:
def assign_humidity(humidity):
    if humidity < 50:
        return 'Low Humidity'
    elif 50<= humidity <=80:
        return 'High Humidity'
    else:
        return 'Very High Humidity'
    
air_data['humidity_level'] = air_data['humidity'].apply(assign_humidity)

air_data.head(10)

,date,monitor_index,humidity,pressure,temperature,voc,analog_input,pm2.5_alt,pm1.0_atm,pm2.5_atm,pm10.0_atm,sensor.latitude,sensor.longitude,sensor.altitude,sensor.name,temperature_level,humidity_level
0,02/23/24,195089,14.377667,912.884333,62.266667,51.998667,0.051333,0.100000,0.000000,0.002500,0.039667,40.050922,-101.533570,3005,Swnphd-Benklemen,Warm,Low Humidity
1,02/23/24,195365,12.223600,926.403000,71.193400,64.920800,0.000000,0.180000,0.004800,0.020000,0.176000,40.200330,-100.639885,2576,Swnphd-mccook,Hot,Low Humidity
2,02/23/24,195541,20.095750,905.670750,61.008250,68.307000,0.020000,0.162500,0.004125,0.014812,0.063937,41.128284,-101.720220,3220,Swnphd-ogallala,Warm,Low Humidity
3,02/24/24,195089,25.368000,911.708833,51.462458,91.176750,0.052667,0.437500,0.099542,0.170667,0.355208,40.050922,-101.533570,3005,Swnphd-Benklemen,Warm,Low Humidity
4,02/24/24,195365,23.703083,925.282125,56.818208,107.863708,0.000000,0.475000,0.099208,0.231687,0.548583,40.200330,-100.639885,2576,Swnphd-mccook,Warm,Low Humidity
5,02/24/24,195541,29.082083,903.069000,52.063833,96.558875,0.020000,0.441667,0.053417,0.118813,0.241583,41.128284,-101.720220,3220,Swnphd-ogallala,Warm,Low Humidity
6,02/25/24,195089,20.633125,906.199667,54.271000,98.027208,0.053542,0.741667,0.186167,0.536167,1.272979,40.050922,-101.533570,3005,Swnphd-Benklemen,Warm,Low Humidity
7,02/25/24,195365,17.341708,919.602625,61.311000,104.390083,0.000000,0.941667,0.543604,0.907917,1.609354,40.200330,-100.639885,2576,Swnphd-mccook,Warm,Low Humidity
8,02/25/24,195541,23.904208,897.842417,55.670833,89.880250,0.020000,0.791667,0.283729,0.602854,0.985021,41.128284,-101.720220,3220,Swnphd-ogallala,Warm,Low Humidity
9,02/26/24,195089,18.948792,901.163792,57.556792,83.773958,0.053292,0.850000,0.279896,0.744229,1.834646,40.050922,-101.533570,3005,Swnphd-Benklemen,Warm,Low Humidity

# Task 4

In [101]:
# Unhealthy amounts of PM2.5 for sensitve populations range from 35µg/m³ to 55 µg/m³.
unhealthy_pm25 = air_data[
                            (air_data['pm2.5_atm']>=35) & 
                          (air_data['pm2.5_atm']<=50)
]
    
unhealthy_events = unhealthy_pm25[
    ['date','sensor.name','pm2.5_atm']
].sort_values('date')

unhealthy_events.head(10)

          date                                        sensor.name  pm2.5_atm
6730  01/09/25  South Heartland District Health Dept. Superior...  39.975313
6721  01/09/25                               PHS Fairbury JCHL 13  41.249042
6720  01/09/25                                  #17 - Otoe County  35.746292
7304  02/06/25                           Buffalo County TRPHD #26  39.639000
7511  02/15/25  South Heartland District Health Dept. Superior...  38.148875
7508  02/15/25              Three Rivers Public Health Department  37.249500
7503  02/15/25                         Ainsworth Public School #9  38.737979
7501  02/15/25                               PHS Fairbury JCHL 13  42.358938
7498  02/15/25                          WCDHD Thedford Library 29  36.138729
7836  03/02/25                                      Swnphd-mccook  35.738500

In [102]:

unhealthy_pm10 = air_data[
                            (air_data['pm10.0_atm']>=54) & 
                          (air_data['pm10.0_atm']<=154)
]
    
unhealthy_events2 = unhealthy_pm10[
    ['date','sensor.name','pm10.0_atm']
].sort_values('date')

unhealthy_events2.head(10)

          date                                        sensor.name  pm10.0_atm
7493  02/15/25                                 ELVPHD Wisner HD 5   75.461354
1361  05/14/24                                           FCHD-YPS   73.258167
1359  05/14/24              Three Rivers Public Health Department   60.560375
1356  05/14/24                                  NCDHD O'Neill #11   55.619250
1354  05/14/24  #18 - Southeast District Health Department- Te...   74.925771
1341  05/14/24                                 ELVPHD Wisner HD 5   60.299813
1350  05/14/24                               PHS Fairbury JCHL 13   64.502917
1346  05/14/24                                ELVPHD Tekamah HD 3   56.471104
1345  05/14/24  South Heartland District Health Dept. Hastings...   57.197542
1344  05/14/24                 #16 - Richardson County Courthouse   76.961708

# Task 5

In [103]:
unhealthy_pm25 = air_data[
                            (air_data['pm2.5_atm']>=35) & 
                          (air_data['pm2.5_atm']<=50)
]
    
unhealthy_events = unhealthy_pm25[
    ['date','sensor.name','pm2.5_atm','sensor.altitude']
].sort_values('date')

unhealthy_events.head(10)

,date,sensor.name,pm2.5_atm,sensor.altitude
6730,01/09/25,South Heartland District Health Dept. Superior...,39.975313,1597
6721,01/09/25,PHS Fairbury JCHL 13,41.249042,1438
6720,01/09/25,#17 - Otoe County,35.746292,1055
7304,02/06/25,Buffalo County TRPHD #26,39.639000,2147
7511,02/15/25,South Heartland District Health Dept. Superior...,38.148875,1597
7508,02/15/25,Three Rivers Public Health Department,37.249500,1188
7503,02/15/25,Ainsworth Public School #9,38.737979,2519
7501,02/15/25,PHS Fairbury JCHL 13,42.358938,1438
7498,02/15/25,WCDHD Thedford Library 29,36.138729,2850
7836,03/02/25,Swnphd-mccook,35.738500,2576

In [104]:
unhealthy_pm10 = air_data[
                            (air_data['pm10.0_atm']>=54) & 
                          (air_data['pm10.0_atm']<=154)
]
    
unhealthy_events2 = unhealthy_pm10[
    ['date','sensor.name','pm10.0_atm','sensor.altitude']
].sort_values('date')

unhealthy_events2.head(10)

,date,sensor.name,pm10.0_atm,sensor.altitude
7493,02/15/25,ELVPHD Wisner HD 5,75.461354,1385
1361,05/14/24,FCHD-YPS,73.258167,1639
1359,05/14/24,Three Rivers Public Health Department,60.560375,1188
1356,05/14/24,NCDHD O'Neill #11,55.619250,1990
1354,05/14/24,#18 - Southeast District Health Department- Te...,74.925771,1143
1341,05/14/24,ELVPHD Wisner HD 5,60.299813,1385
1350,05/14/24,PHS Fairbury JCHL 13,64.502917,1438
1346,05/14/24,ELVPHD Tekamah HD 3,56.471104,1033
1345,05/14/24,South Heartland District Health Dept. Hastings...,57.197542,1920
1344,05/14/24,#16 - Richardson County Courthouse,76.961708,1023